In [1]:
#For Loops ->allow us to iterate over anything that has
# a collection of items.
for item in 'Zero to Mastery':#string
    print(item)

Z
e
r
o

t
o

M
a
s
t
e
r
y

In [2]:
for item in [1,2,3,4,5]:#list
    print(item)

1
2
3
4
5

In [3]:
for item in {1,2,3,4,5}:#set
    print(item)

1
2
3
4
5

In [4]:
for item in (1,2,3,4,5):#tuple
    print(item)

1
2
3
4
5

In [5]:
for item in (1,2,3,4,5):#tuple
    print(item)
    print(item)
    print(item)

1
1
1
2
2
2
3
3
3
4
4
4
5
5
5

In [6]:
for item in (1,2,3,4,5):#tuple
    print(item)
    print(item)
    print(item)
print('hi!')

1
1
1
2
2
2
3
3
3
4
4
4
5
5
5
hi!

In [7]:
for item in (1,2,3,4,5):#tuple
    print(item)
    print(item)
    print(item)
print(item)

1
1
1
2
2
2
3
3
3
4
4
4
5
5
5
5

In [11]:
for item in (1,2,3,4,5):
    for x in ['a','b','c']:
        print(item, x)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c
4 a
4 b
4 c
5 a
5 b
5 c

In [14]:
#iterable -> an object or a collection that can be iterated over.
#list, dictionary, tuple, set, string.
#iterated -> one by one to check each item in the collection.

user = {
    'name': 'Golem',
    'age': 5006,
    'can_swim': False
}

for item in user:
    print(item)

name
age
can_swim

In [15]:
user = {
    'name': 'Golem',
    'age': 5006,
    'can_swim': False
}

for item in user.items():
    print(item)

('name', 'Golem')
('age', 5006)
('can_swim', False)

In [16]:
user = {
    'name': 'Golem',
    'age': 5006,
    'can_swim': False
}

for item in user.values():
    print(item)

Golem
5006
False

In [17]:
user = {
    'name': 'Golem',
    'age': 5006,
    'can_swim': False
}

for item in user.keys():
    print(item)

name
age
can_swim

In [18]:
user = {
    'name': 'Golem',
    'age': 5006,
    'can_swim': False
}

for key, value in user.items():
    print(item)

can_swim
can_swim
can_swim

In [19]:
user = {
    'name': 'Golem',
    'age': 5006,
    'can_swim': False
}

for item in user.items():
    key, value = item;
    print(key, value)

for item in user.values():
    print(item)


for item in user.keys():
    print(item)

name Golem
age 5006
can_swim False
Golem
5006
False
name
age
can_swim

In [20]:
user = {
    'name': 'Golem',
    'age': 5006,
    'can_swim': False
}

for key, value in user.items():
    print(key, value)

for item in user.values():
    print(item)


for item in user.keys():
    print(item)

name Golem
age 5006
can_swim False
Golem
5006
False
name
age
can_swim

In [21]:
user = {
    'name': 'Golem',
    'age': 5006,
    'can_swim': False
}

for k, v in user.items():
    print(key, value)

for item in user.values():
    print(item)


for item in user.keys():
    print(item)

can_swim False
can_swim False
can_swim False
Golem
5006
False
name
age
can_swim

In [24]:
#counter
my_list = [1,2,3,4,5,6,7,8,9,10]
counter = 0

for number in my_list:
    counter = counter+number
print(counter)

55

In [27]:
#range
for number in range(0, 100):
    print(number)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [29]:
for _ in range(0, 10):
    print('email email list')

email email list
email email list
email email list
email email list
email email list
email email list
email email list
email email list
email email list
email email list

In [30]:
for _ in range(0, 10):
    print(_)

0
1
2
3
4
5
6
7
8
9

In [31]:
for _ in range(0, 10, 2):
    print(_)

0
2
4
6
8

In [33]:
for _ in range(10, 0, -1): #reverse
    print(_)

10
9
8
7
6
5
4
3
2
1

In [34]:
for _ in range(10, 0, -2): 
    print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
for _ in range(2): 
    print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
#enumerate
for i, char in enumerate('Hellooo'): #get index of each item
    print(i, char)

0 H
1 e
2 l
3 l
4 o
5 o
6 o

In [37]:
for i, char in enumerate((1,2,3)): #get index of each item
    print(i, char)

0 1
1 2
2 3

In [42]:
for i, char in enumerate(list(range(100))):#print the index of the char 50 in the list.
    if char == 50:
        print(f'the index of 50 is: {i}')

the index of 50 is: 50

In [43]:
for i, char in enumerate(list(range(100))):#print the index of the char 50 in the list.
    print(i, char)
    if char == 50:
        print(f'the index of 50 is: {i}')

0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9
10 10
11 11
12 12
13 13
14 14
15 15
16 16
17 17
18 18
19 19
20 20
21 21
22 22
23 23
24 24
25 25
26 26
27 27
28 28
29 29
30 30
31 31
32 32
33 33
34 34
35 35
36 36
37 37
38 38
39 39
40 40
41 41
42 42
43 43
44 44
45 45
46 46
47 47
48 48
49 49
50 50
the index of 50 is: 50
51 51
52 52
53 53
54 54
55 55
56 56
57 57
58 58
59 59
60 60
61 61
62 62
63 63
64 64
65 65
66 66
67 67
68 68
69 69
70 70
71 71
72 72
73 73
74 74
75 75
76 76
77 77
78 78
79 79
80 80
81 81
82 82
83 83
84 84
85 85
86 86
87 87
88 88
89 89
90 90
91 91
92 92
93 93
94 94
95 95
96 96
97 97
98 98
99 99